<!-- TODO: This will be the series of buttons to toggle the themes modes -->
<!-- TODO: how to list multiple active themes for widgets... That will probably be in the layout.html file -->

{% set themes = data.themes %}
{% if (themes) and (themes.length > 0) %}
    {% for theme in themes %}
      {% set length = theme.categories | rejectattr('type', 'default') | length %}
      {% if length > 1 %}
        {% set type = theme.type %}
        {% if data.includeTitle %}
        {{ theme.title }}
        {% endif %}
        <div class="tabs tabs__{{type}} theme__{{type}}" class="wrapperClass" aria-hidden="true">
        {% for category in theme.categories %}
            {% if category !== "default" %}
            <button class="tabs__item theme__{{category}}" onclick="window.apos.util.widgetPlayers['erf-apostrophe-themes'].changeTheme('{{category}}', '{{type}}')">
            {{ category }}
            </button>
            {% endif %}
        {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
{% endif %}